

/tuConjunto/protected/extensions/yiibooster/
/tuConjunto/protected/runtime/
/tuConjunto/protected/modules/cruge/messages/
/tuConjunto/protected/modules/cruge/models/
/tuConjunto/protected/modules/cruge/extensions/
/tuConjunto/protected/modules/cruge/doc/
/tuConjunto/protected/modules/cruge/data/
/tuConjunto/protected/modules/cruge/components/
/tuConjunto/protected/modules/cruge/interfaces/
/tuConjunto/protected/modules/cruge/controllers/
/tuConjunto/images/
/tuConjunto/assets/
/tuConjunto/protected/extensions/eckeditor/
/tuConjunto/protected/extensions/yii-sendgrid/
/tuConjunto/protected/extensions/phpmailer/
/tuConjunto/protected/extensions/cleditor/
/tuConjunto/protected/extensions/CJuiDateTimePicker/
/tuConjunto/protected/extensions/yii-pdf/
/tuConjunto/protected/vendors/mpdf/
/tuConjunto/protected/extensions/phpexcel/
/tuConjunto/files/
/tuConjunto/protected/extensions/EFullCalendar/